<div class="container">
    <h1 class="text-center">PROYECTOS</h1>
        <div class="row">
                        <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Lagarto">
                    <div class="card-body">
                    <h5 class="card-title">Lagarto</h5>
                    <p class="card-text">proyecto de un lagarto.</p>
                    <a href="#" class="btn btn-primary vermas">Ver más</a>
                    </div>
                </div>
            </div>
                        <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Lagarto">
                    <div class="card-body">
                    <h5 class="card-title">Lagarto</h5>
                    <p class="card-text">proyecto de un lagarto.</p>
                    <a href="#" class="btn btn-primary vermas">Ver más</a>
                    </div>
                </div>
            </div>
                        <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Lagarto">
                    <div class="card-body">
                    <h5 class="card-title">Lagarto</h5>
                    <p class="card-text">proyecto de un lagarto.</p>
                    <a href="#" class="btn btn-primary vermas">Ver más</a>
                    </div>
                </div>
            </div>
</div>
</div>